# Enable PHP processing
<IfModule mod_php7.c>
  php_flag display_errors On
  php_value error_reporting E_ALL
  php_flag output_buffering On
</IfModule>

<IfModule mod_php.c>
  php_flag display_errors On
  php_value error_reporting E_ALL
  php_flag output_buffering On
</IfModule>

# Try to handle PHP files
AddType application/x-httpd-php .php
AddType application/x-httpd-php .php5
AddType application/x-httpd-php .php7
AddType application/x-httpd-php .php8
