body {
  margin: 0;
  background-image:url('images/skulll.png');
  color: #fff; 
  padding-top: 25px; 
}  

  .solid-back { background-color: #000;  }
  
  .abox { border: 5px solid #fff; 	
        border-spacing: 1px; 
        padding: 15px 15px 15px 15px;
        }
  .gos-form { font-family: Verdana; font-size: 10px; color: #222222; background: #EEEEEE; border: #333333 solid 1px; }

div#chatdiv {
	height: 100%;
	width: 100%;
        background-color: #DDDDDD;
	display: inline;
}

div#messages {
        height: 255px;
	width: 100%;
	background: #EEEEEE;
       	padding: 5px;
	border: 1px solid #000;
	overflow: scroll;
	overflow-x:hidden;
}

div#messagebox {
	width: 100%;
	height: 60px;
	background: #CCCCCC;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 2px;
}

.chat-input {
max-width:90%;
}

.battlebox 
{
background-size: 100%;
background-position:center;
}

.battletext { font-family: Verdana; font-size: 12px; color: #fff; background-color: #000;}
.battledtext { font-family: Verdana; font-size: 12px; color: #fff; background-color: #000;}

.estate_t { font-family: Verdana; font-size: 9px; color: #EEEEEE; background-color: #111111; font-weight:bold;}
.estate_r { font-family: Verdana; font-size: 9px; color: #E14545; background-color: #111111; font-weight:bold;}

.img-optional { visibility:; }
.img-optional-nodisplay { display: none;}